


.hero{
    background-color: rgb(202, 84, 63);
    color: rgba(45, 53, 10, 0.774);
background-image: url(moringa/web 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: rgb(242, 250, 250);
    
}
